/*
** Footer
*/

footer {
	svg {
		height: 22px;
		width: 40px;
		fill: #fff;
		margin-bottom: -4px;
	}
	svg:hover {
		fill: rgba(255,255,255,0.9);
	}
}

/*
** Custom Home Page
*/

.home-block {
	header {
		display: none;
	}
}

.home-block.pastors-theme {
	margin-top: 60px;
	padding-top: 60px;
}
.directors-welcome {
	margin-bottom: 60px;
	p {
		color: #333;
	}
}
.directors-sig {
	text-align: center;
	img {
		max-width: 220px;
	}
}
.directors-video {
	position: relative;
	padding-bottom: 40.15%; // 21:9
	padding-top: 25px;
	height: 0;
	margin-bottom: 60px;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
}
.directors-application {
	text-align: center;
	margin-bottom: 60px;
	h1 {
		margin-bottom: 20px;
	}
	p {
		margin-bottom: 20px;
		color: #333;
	}
}
.et-slider-arrows {
	a {
		top: 80%;
	}
}
#pre-footer {
	display: none;
}
#main-footer {
	padding: 20px 0 10px;
}
#slider {
	margin-bottom: 60px;
}
/*
** Colour Fixes
*/
ul, li {
	color: #333;
}

/*
** Spacing Fixes
*/

#content-area {
	// Not really sure why they defaulted the bottom to 120px;
	// If you run into any issues with bottom padding, comment this out
	padding: 60px 0 60px;
}

.entry li {
	margin-bottom: 20px;
}

/*
** Classes Page
*/

#content-area.instructors-content, #content-area.classes-content {
	padding-bottom: 60px;
}

#main-area.classes, #main-area.instructors-main {
	width: 100%;
	margin-right: 0;
}

.classes-thumb {
	width: 20%;
	height: 150px;
	margin-right: 4%;
	float: left;
}

.classes-text {
	max-width: 76%;
	float: left;
}

.classes-thumb img {
	margin-right: 20px;
}

/*
** Instructors Page
*/

.instructors {
	box-sizing: border-box;
	float: left;
	width: 50%;
	// height: 70px;
	padding-left: 20px;
	padding-right: 20px;
}
.instructors-text {
	height: 100px;
}
.instructors.entry {
	margin-bottom: 40px;
}
.instructors-head {
	box-sizing: border-box;
	margin-bottom: 60px;
	width: 50%;
	float:left;
	padding-left: 20px;
	padding-right: 20px;
	h2, h3 {
		margin-bottom: 10px;
	}
	p {
		color: #333;
	}
}
.instructors-head-photo, .instructors-img {
	margin-bottom: 30px;
}

@media only screen and (max-width: 767px) {
	.instructors-head {
		width: 100%;
	}
	.instructors {
		width: 100%;
		height: initial;

	}
}

/*
** Contact Form // Contact Form 7
*/
.pastor {
	h2 {
		margin-bottom: 20px;
	}
	h4 {
		margin-top: 10px;
		margin-bottom: 20px;
	}
	p {
		line-height: 20px;
		margin-bottom: 30px;
	}
}